# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Parcel
dist/
.cache/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Editor settings
.idea/
.vscode/
.DS_Store
Thumbs.db

# Build artifacts
dist/
